

.altMenu
{
     width: 999px;
     height: 50px;
}
.banner
{
   width: 1000px;
   height: 150px;
}
.yanMenu
{
    height:300px;
     width:300px;
}
.yanMenuAdmin
{
    height:600px;
     width:250px;
}
.uzunYanMenu
{
    width:300px;
    height:600px;
}

body
{
    background-color: #D7EFF7;
      font-family: Arial;
        font-size: 10pt;
}

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

